  <!-- <div class="container">

    <div class="box" id="p1">P1
      <div class="counter">{{ counters['p1'] }}</div>
    </div>
    
    <div class="connector">
      <span class="dot"></span><span class="dot"></span><span class="dot"></span>
    </div>
    
    <div class="box" id="p2">P2
      <div class="counter">{{ counters['p2'] }}</div>
    </div>
    
    <div class="connector">
      <span class="dot"></span><span class="dot"></span><span class="dot"></span>  
      
    </div>
    
    <div class="box" id="p3">P3
      <div class="counter">{{ counters['p3'] }}</div>
    </div>
    
    <div class="connector">
      <span class="dot"></span><span class="dot"></span><span class="dot"></span>
    </div>
    
    <div class="box" id="p4">P4
      <div class="counter">{{ counters['p4'] }}</div>
    </div>
    
    <div class="refreshes-counter">
      Refreshes : {{ refreshes }}
    </div>
  </div>
  
   -->


  










<!-- big box with counter -->


 <div class="container">
  
  <div class="left-box">
 
  
    <div class="box big-box" id="bigBox">
      B1
      <div class="counter">{{ bigBoxCounter }}</div>
    </div>
 
  </div>

  <div class="vertical-boxes">
    <div class="box" id="p1">P1
      <div class="counter">{{ counters['p1'] }}</div>
    </div>
    
    <div class="connector">
      <span class="dot"></span><span class="dot"></span><span class="dot"></span>
    </div>
    
    <div class="box" id="p2">P2
      <div class="counter">{{ counters['p2'] }}</div>
    </div>
    
    <div class="connector">
      <span class="dot"></span><span class="dot"></span><span class="dot"></span>  
    </div>
    
    <div class="box" id="p3">P3
      <div class="counter">{{ counters['p3'] }}</div>
    </div>
    
    <div class="connector">
      <span class="dot"></span><span class="dot"></span><span class="dot"></span>
    </div>
    
    <div class="box" id="p4">P4
      <div class="counter">{{ counters['p4'] }}</div>
    </div>
    
    <div class="refreshes-counter">
      Refreshes : {{ refreshes }}
    </div>
  </div>
</div>



